h1 {
    color : orange;
    font-size: 40px;
}

span {
    background-color: red;
    color: white;
}

.p1 {
    color: rgb(42, 197, 42);
    font-size: 15px;
}

.p2 {
    font-size: 15px;
}

.p3 {
    color: lime;
    font-size: 15px;
}

.p4 {
    color: lime;
    font-size: 20px;
}

.p5 {
    color: darkblue;
    font-size: 20px;
}

body {
    background-color: #99FFCC;
}