div {
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 25px;
}

.l {
    width: 1240px;
    height: 50px;
    background-color: rgba(229, 222, 222, 0.922)
}

.base {
    background-color: rgba(252, 247, 203, 0.922);
    width: 740px;
    height: 170px;
}

.bick{
    background-color: rgb(178, 224, 240);
    width: 350px;
    height: 170px;
    margin-top: -200px;
    margin-left: 920px;
}