body {
    background-color: #00ff44;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 30, 255);
    text-decoration: none ;
}
