body{
    font-size: 40px;
}
div {
    border: 4px dashed rgb(18, 56, 179);
    background-color: rgb(253, 238, 138);
    color: rgb(18, 56, 179);
    padding-left: 20px;
    padding-top: 20px;
}

.header {
    margin-left: 25px;
    width: 1240px;
    height: 80px;
}

.c1, .c2{
    margin-top: 30px;
    margin-left: 50px;
    height: 75px;
    width: 550px;
}

.c2 {
    margin-top: -104px;
    margin-left: 675px;
}

.c3 {
    margin-left: 310px;
    margin-top: 30px;
    width: 600px;
    height: 75px;
}

.footer {
    margin-top: 30px;
    margin-left: 25px;
    width: 1240px;
    height: 80px;
}