.menu {
    list-style: none;
    display: flex;
    background-color: grey;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    box-sizing: border-box;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: white;
    text-decoration-line: none;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contact {
    width: 11%;
    padding-left: 5px;
    background-color: darkblue;
    border-radius: 15px;
}

