.left {
    background-color: #2E8B57;
    width: 11%;
}

p {
    margin-top: -165px;
    margin-left: 260px;
    font-style: italic;
    font-size: 20px;
}

.menu {
    background-color: #8FBC8F;
    width: 98%;
    margin-top: 2px;
}

.banner {
    margin-top: 3px;
    width: 70%;
}

.b1 {
    margin-top: 50px;
}

.main {
    margin-top: -576px;
    margin-left: 149px;
    background-color: #98FB98;
}

h1 {
    margin-left: 450px;
    margin-top: 50px;
}